body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: dimgray;
}

.container{
    background-color:azure ;
    border: 2ps solid gray;
}
input[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#submit{
    background-color: bisque;
    width: 100%;;
    color: rgb(0, 135, 253);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#submit:hover{
    background-color: cornsilk;
}
img{
    float: left;
}
.img{
    border: 6px solid burlywood;
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 100%;
    overflow: auto;
}





