h1,h2{
    text-align: center;
}
h1 span{
    font-size: 70px;
    color:burlywood;
    font-weight: 600;

}

#pets{
   
    display: flex;   
    justify-content:space-evenly;
   
   
}

.card{
    height: 32em;
    width: 25em;
    border: 5px double aquamarine;
    color: aquamarine;
    border-radius: 25px;
    padding: 15px;    
    margin: 10px;
    
}

img{
    width: 100%;
    border-radius: 44px;

}

h4{
    color: green;
    text-align: right;
}

@media(max-width:375px){
    #pets{
       
        flex-wrap: wrap;
       
    }
}


















